<%- partial('_partial/head') %>
<body>
  <div class="container">
    <%- partial('_partial/sidebar') %>
    <section class="content">
      <div class="col">
        <%- body %>
      </div>
    </section>
  </div>
</body>
</html>
