<article class="post">
  <div class="article-meta">
  </div>
  <div class="article-inner">
    <div class="article-entry">
      <%- post.content %>
    </div>
    <footer class="article-footer">
    </footer>
  </div>
</article>
