/* Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Global */

body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
img {
  display: block;
  margin: 2rem auto;
  max-height: 60vh;
  max-width: 100%;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed';
}
h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
}
h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
h3, h4, h5, h6 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
p {
  margin: 1.5rem 0;
}

/* Links */

a {
  color: #9AB173;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #758D4E;
}

/* Misc */

ul {
  padding-left: 1.3rem;
}
ol {
  padding-left: 1.3rem;
}
code {
  background-color: #E0E0E0;
  border-left: solid #556B2F 0.2rem;
  display: block;
  font-family: 'Source Code Pro', monospaced;
  padding: 0.5rem 1rem;
}
blockquote {
  background-color: #EEEEEE;
  border-left: solid #E0E0E0 0.2rem;;
  font-style: italic;
  margin: 0;
  padding: 0.5rem 1rem;
}
blockquote p {
  margin: 0;
}

/* Content */

.content {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 19rem;
  padding: 0.2rem;
}
.col {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
  padding: 0.2rem;
}
.post {
  padding: 2rem 4rem;
}

/* Portfolio */

.photo {
  margin: 0.2rem 0;
  position: relative;
}
.photo:first-child{
  margin-top: 0;
}
.photo img {
  cursor: pointer;
  margin: 0;
  max-height: none;
  transition: filter 0.5s ease-out;
}
.photo:hover img {
  filter: brightness(50%) blur(0.2rem);
}
.photo .label {
  color: white;
  left: 50%;
  margin: auto;
  opacity: 0.0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-out;
}
.photo:hover .label {
  opacity: 1.0;
}

/* Sidebar */

.sidebar {
  background-color: #556B2F;
  height: 100vh;
  color: white;
  padding: 2.5rem;
  position: fixed;
  width: 14rem;
}
.title {
  font-family: 'Open Sans Condensed';
  font-size: 2.5rem;
}
.subtitle {
  color: #9AB173;
  font-family: 'Open Sans Condensed';
  font-size: 1.7rem;
}
.menu {
  padding: 1rem 0;
}
.menu-item {
  padding: 0.5rem 0;
}
.sidebar a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}
.sidebar a:active {
  color: #41571A;
}
.active a {
  font-weight: 600;
}
.tags {
  display: none;
  line-height: 2.2rem;
  padding-left: 1rem;
}
.visible {
  display:block;
 }
.tag {
  background-color: #556B2F;
  border: 0.05rem solid white;
  border-radius: 1rem;
  padding: 0.25rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.tag:hover {
  background-color: white;
  color: #556B2F;
}
.tag:active {
  background-color: #41571A;
  color: white;
  transition: none;
}
.footer {
  color: #9AB173;
}
.media {
  font-size: 1.5rem;
}
.media a:hover {
  text-decoration: none;
}
.rights {
  font-size: 0.8rem;
}
